body {
  background-color: rgb(237, 235, 235);
  background-image: url("https://i.pinimg.com/originals/72/0a/39/720a39e5d575c44eaecfe74a513afa27.jpg");
  background-size: 100vw 100vh;
  margin: 8px;
  display: block;
}

header {
  border-bottom: 1px solid rgb(224, 237, 245);
  padding: 0 0 30px 0;
  display: block;
}
main {
  padding: 30px 0;
}
a {
  color: rgb(121, 147, 162);
}
footer {
  border-top: 1px solid rgb(224, 237, 245);
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  padding: 30px 0 0 0;
  text-align: center;
  font-weight: 500;
}

.weather-app {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 11px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 50px auto;
  max-width: 500px;
  padding: 30px;
}

.search-form-input {
  background-color: rgb(237, 235, 235);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px 20px;
  width: 75%;
}

.search-form-button {
  background-color: rgb(160, 192, 209);
  color: white;
  margin-left: 5px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 560;
}
weather-app-details,
strong {
  color: #ff002b;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-temp {
  color: black;
  font-size: 88px;
  font-weight: bold;
}
.weather-app-temp-container {
  display: flex;
  margin-top: -45px;
}
.weather-app-unit {
  color: black;
  font-size: 25px;
  margin-top: 15px;
}
.weather-app-icon {
  width: 80px;
  margin-bottom: 27px;
  margin-right: -3px;
  margin-top: 8px;
}

.weather-forecast {
  margin-top: 20px;
  display: flex;
  margin-left: -3px;
}

.weather-forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.weather-forecast-date {
  font-size: 16px;
  color: black;
  opacity: 0.5;
}

.weather-forecast-icon {
  width: 78px;
  height: 78px;
}

.weather-forecast-temps {
  margin-left: -3px;
  font-size: 13px;
}
.weather-forecast-temp-min {
  opacity: 0.5;
}
