body {
  background-color: rgb(222, 222, 222);
}
.weather-app {
  background-color: white;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 11px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
